<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema - WinProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css?v=1.0}">
    <link rel="stylesheet" th:href="@{/css/components.css?v=1.0}">
    <link rel="stylesheet" th:href="@{/css/registrations/registerProjects.css?v=1.0}">
    <link rel="stylesheet" th:href="@{/css/lists/departmentsList.css?v=1.0}">
</head>

<body>
    
     <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    
    <div th:replace="~{fragments/navbar :: navbar(pageTitle='Editar projeto')}"></div>
    
    <main id="main-content" class="main-content">
        <div class="container">
            <div class="card">
				<form action="/input/manager/projects/edit" th:object="${project}" method="POST" id="formulario">

										<!-- Seção: Informações Básicas do Projeto -->
                    <div class="section-card access-config-section">
                        <h3 class="section-title">📋 Informações Básicas</h3>
                        <div class="row g-3">
                        
                        	<div class="col-md-1">
		                        <label class="form-label shadow-text">Cod.</label>
		                        <input type="text" readonly placeholder="Cod" class="form-control shadow-cantos cod"
		                               required th:field="*{projectId}" />
		                    </div>
		                    
                            <div class="col-md-2">
                                <label class="form-label shadow-text">Nome</label>
                                <input type="text" placeholder="Nome do projeto" class="form-control shadow-cantos"
                                    required maxlength="60" th:field="*{projectName}" />
                            </div>
                            
							<div class="col-md-3">
							 	 <label class="form-label shadow-text">Sigla contratual</label>
								 <div class="time-range-container">
									   <div class="form-control shadow-cantos" id="campoProjectContractualAcronym" style="cursor: pointer;">
									     <span id="textoAcronymSelecionada"
									            th:if="${project.projectContractualAcronym != null}"
									            th:text="${project.projectContractualAcronym.acronym}">
									     </span>
									     <span id="textoAcronymSelecionada"
									            th:if="${project.projectContractualAcronym == null}">
									        Selecione uma sigla
									     </span>
									   </div>
									   <input type="hidden" name="projectContractualAcronym" id="projectContractualAcronym"
									           th:value="${project.projectContractualAcronym != null ? project.projectContractualAcronym.acronymId : ''}" />
								  </div>
							</div>

                            <div class="col-md-3">
                                <label class="form-label shadow-text"> Data de cadastro</label>
                                <input type="date" class="form-control shadow-cantos" readonly
                                    th:field="*{projectRegisterDate}" />
                            </div>

                            <div class="col-md-3">
                                <label class="form-label shadow-text"> Data de atual</label>
                                <input type="date" class="form-control shadow-cantos" readonly
                                    th:field="*{ProjectCurrentDate}" />
                            </div>

                            <div class="col-12">
                                <label class="form-label shadow-text">Site</label>
                                <input type="url" placeholder="https://exemplo.com" class="form-control shadow-cantos"
                                    maxlength="100" th:field="*{projectWebsite}" />
                            </div>

                            <div class="col-md-4">
                                <label class="form-label shadow-text">Vertical de negócio</label>
                                <select th:field="*{projectBusinessVertical}" class="form-control shadow-cantos" id="vertical" required>
								    <option value="" disabled selected>Selecione a vertical de negócio</option>
								    <option th:each="reg : ${projectBusinessVerticals}" 
								            th:value="${reg}" 
								            th:text="${reg.label}">
								    </option>
								</select>
                            </div>
                             
							<div class="col-md-4">
							    <label class="form-label shadow-text">Prioridade</label>
							    <select th:field="*{projectPriority}" class="form-control shadow-cantos" id="prioridade" required>
							        <option value="" disabled selected>Selecione a prioridade</option>
							        <option th:each="priority : ${projectPriorities}"
							                th:value="${priority.name()}"
							                th:text="${priority.label}">
							        </option>
							    </select>
							</div>
                        </div>
                    </div>

                    <!-- Seção: Responsáveis -->
                    <div class="section-card personal-info-section">
                        <h3 class="section-title">👥 Dados do cliente</h3>

                        <!-- Gestor do Cliente -->
                        <div>
                            <h5 class="text-muted mb-3">Gestor do Cliente</h5>
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label class="form-label shadow-text">Nome</label>
                                    <input type="text" placeholder="Nome do gestor" class="form-control shadow-cantos"
                                        th:field="*{projectClientManager}" maxlength="60" />
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label shadow-text">Email</label>
                                    <div class="d-flex gap-2">
                                        <input type="text" placeholder="email@exemplo.com"
                                            class="form-control shadow-cantos" id="email-gestor"
                                            th:field="*{projectClientManagerEmail}" maxlength="40" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label shadow-text">Telefone</label>
                                    <input type="tel" placeholder="(00) 00000-0000" class="form-control shadow-cantos"
                                        th:field="*{projectClientManagerPhone}" id="telefone-gestor" />
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label shadow-text">CEP</label> <input type="text"
                                        placeholder="00000-000" class="form-control shadow-cantos" maxlength="9"
                                        th:field="*{projectClientZipCode}" id="cep-projeto" />
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label shadow-text">Endereço</label> <input type="text"
                                        placeholder="Rua, Avenida, número" class="form-control shadow-cantos"
                                        maxlength="100" th:field="*{projectClientAddress}" id="endereco-projeto" />
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label shadow-text">Nº</label>
                                    <input type="text" placeholder="123" class="form-control shadow-cantos"
                                        maxlength="100000" th:field="*{projectClientAddressNumber}" />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label shadow-text">Complemento</label>
                                    <input type="text" placeholder="Casa, Apto, fundos..."
                                        class="form-control shadow-cantos" maxlength="100"
                                        th:field="*{projectClientAddressComplement}" />
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label shadow-text">Bairro</label> <input type="text"
                                        placeholder="Nome do bairro" class="form-control shadow-cantos" maxlength="50"
                                        th:field="*{projectClientDistrict}" id="bairro-projeto" />
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label shadow-text">Cidade</label> <input type="text"
                                        placeholder="Nome da cidade" class="form-control shadow-cantos" maxlength="50"
                                        th:field="*{projectClientCity}" id="cidade-projeto" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label shadow-text">Estado</label>
                                    <select th:field="*{projectClientState}" class="form-control shadow-cantos"
                                        id="estado-projeto" required>
                                        <option value="" disabled selected>Selecione uma estado</option>
                                        <option th:each="reg : ${T(com.project.system.enums.input.BrazilianStateUF).values()}"
                                            th:value="${reg}" th:text="${reg.name()}">
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Seção: Cronograma do Projeto -->
                    <div class="section-card access-config-section">
                        <h3 class="section-title">📅 Cronograma</h3>

                        <!-- Planejamento -->
                        <div class="mb-4">
                            <h5 class="text-muted mb-3">Planejamento</h5>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label shadow-text">Data Inicial do Planejamento</label>
                                    <input type="date" class="form-control shadow-cantos" required
                                        th:field="*{projectPlanningStartDate}" />
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label shadow-text">Data Final do Planejamento</label>
                                    <input type="date" class="form-control shadow-cantos" required
                                        th:field="*{projectPlanningEndDate}" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label shadow-text">Duração</label>
                                    <input type="text" class="form-control shadow-cantos" th:field="*{projectDuration}"
                                        placeholder="0 dias" readonly />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label shadow-text">Orçamento</label>
                                    <input type="text" class="form-control shadow-cantos" required id="budgetInput"
                                        name="projectBudget" placeholder="R$ 0,00" th:field="*{projectBudget}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Seção: Responsáveis -->
                    <div class="section-card personal-info-section">
                        <h3 class="section-title">👥 Dados do gerente</h3>

                        <!-- Gerente Local -->
                        <div class="mb-4">
                            <h5 class="text-muted mb-3">Gerente Local</h5>

                            <div class="row g-3">

                                <div class="col-md-4">
                                    <label class="form-label text-muted small">Cod - Nome - Gerente</label>
                                    <div class="time-range-container">
                                        <div class="form-control shadow-cantos" id="campoDepartamento"
                                            style="cursor: pointer;">
                                            <span id="textoDepartamentoSelecionada"
											      th:if="${project.userDepartment != null}"
											      th:text="${project.userDepartment.departmentId + ' - ' + project.userDepartment.departmentName}">
											</span>
											<span id="textoDepartamentoSelecionada"
											      th:if="${project.userDepartment == null}">
											    Selecione um departamento
											</span>

                                        </div>
                                        <input type="hidden" name="userDepartment" id="userDepartment"
										       th:value="${project.userDepartment != null ? project.userDepartment.departmentId : ''}" />
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <label class="form-label shadow-text">Email</label>
                                    <div class="d-flex gap-2">
                                        <input type="text" id="email-gerente" placeholder="email@exemplo.com"
                                            class="form-control shadow-cantos flex-grow-1"
                                            th:field="*{projectLocalManagerEmail}" maxlength="40" readonly />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label shadow-text">Telefone</label>
                                    <input type="tel" placeholder="(00) 00000-0000" class="form-control shadow-cantos"
                                        th:field="*{projectLocalManagerPhone}" id="telefone-gerente" readonly />
                                </div>

                            </div>
                        </div>
                    </div>

                   <div class="section-card access-config-section">
					    <h3 class="section-title">📊 Status e Progresso</h3>
					    <div class="row g-3">
					        <div class="col-md-6">
					            <label class="form-label shadow-text">Status do Projeto</label>
					            <select id="statusProjeto" class="form-control shadow-cantos" required
					                th:field="*{projectStatus}">
					                <option value="" disabled selected>Selecione o status</option>
					                <option th:each="status : ${T(com.project.system.enums.input.ProjectStatus).values()}"
					                        th:value="${status.label}"
					                        th:text="${status.getDisplay()}">
					                </option>
					            </select>
					        </div>
					        <div class="col-md-6">
					            <label class="form-label shadow-text">Percentual de Execução %</label>
					            <div class="input-group">
					                <input type="number" min="0" max="100" step="1" class="form-control shadow-cantos"
					                    placeholder="0" th:field="*{projectExecutionPercentage}"
					                    id="percentualExecucao" />
					                <span class="input-group-text">%</span>
					            </div>
					
					            <!-- Barra de progresso abaixo do input -->
					            <div class="progress mt-2">
					                <div id="barraProgresso"
					                    class="progress-bar progress-bar-striped progress-bar-animated"
					                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
					                    style="width: 0%">
					                </div>
					            </div>
					        </div>
					    </div>
					</div>

                    <!-- Seção: Observações -->
                    <div class="section-card personal-info-section">
                        <h3 class="section-title">💬 Observações e Comentários</h3>
                        <div class="mb-3">
                            <label for="comentarios" class="form-label shadow-text">Comentários
                                Adicionais</label>
                            <textarea class="form-control shadow-cantos" th:field="*{projectComment}" id="comentarios"
                                rows="4" maxlength="700"
                                placeholder="Adicione observações, notas importantes ou comentários sobre o projeto...">
					        </textarea>
                            <!--  Contador de caracteres -->
                            <div class="text-end">
                                <small id="contador-comentarios" style="font-size: 0.6rem;">0/700</small>
                            </div>
                        </div>
                    </div>

				    <div class="navegacaoLista custom-button-container">
				        <a th:href="@{/input/manager/removeProject/{projectId}(projectId=${project.projectId})}"
				           class="btn btn-danger btn-sm text-white"
				           onclick="openExclusaoModal(this); return false;">
				            <i class="fa-solid fa-trash" style="color: #ffffff;"></i> Excluir
				        </a>
				        
				        <div>                     
				             <button 
						        type="submit" 
						        class="btn btn-primary">
						        <i class="fa-solid fa-plus"></i> 
						        <i class="fa-solid fa-floppy-disk"></i> 
						        Salvar
						    </button>
				        </div>
				    </div>
				</form>
            </div>
        </div>
    </main>
    <div id="exclusaoModal" class="modal">
	    <div class="modal-container">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h2 class="modal-title">Confirmação</h2>
	                <button type="button" class="modal-close" id="fecharExclusaoModal">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
	                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
	                        <line x1="18" y1="6" x2="6" y2="18"></line>
	                        <line x1="6" y1="6" x2="18" y2="18"></line>
	                    </svg>
	                </button>
	            </div>
	            <div class="modal-body">
	                <p>Tem certeza que deseja excluir este projeto?</p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" id="cancelarExclusao">Cancelar</button>
	                <a id="confirmarExclusaoBtn" class="btn btn-danger">Excluir</a>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- Modal para seleção do departamento -->
    <div id="modalListaDepartamentos" class="modal">
        <div class="modal-container" style="max-width: 90vw; width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Selecionar departamento</h2>
                    <button type="button" class="modal-close" id="fecharModalListaDepartamento">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- Filtro e seleção de campos -->
                    <div class="form-inline mb-3">
                        <div class="navegacaoLista custom-button-container">
                        	<div class="botoes-esquerda">
						    </div>
                            <div class="botoes-direita">
                                <input type="text" id="filtroDepartamentos" class="form-control shadow-cantos" placeholder="Pesquisar...">
                                <div class="dropdown botoes">
                                    <button class="btn btn-primary" type="button"
                                        id="dropdownMenuButtonDepartamentos">
                                        <svg xmlns="http://www.w3.org/2000/svg" 
									       width="16" height="16" fill="currentColor" 
									       class="bi bi-search" viewBox="0 0 16 16">
									    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 
									      1 0 0 0 1.415-1.414l-3.85-3.85zm-5.242 1.398a5 5 0 1 1 0-10 
									      5 5 0 0 1 0 10z"/>
									  	</svg>
                                    </button>
                                    <div class="dropdown-menu" id="dropdownCamposDepartamentos">
                                        <h1 class="dropdown-item-titulo text-center">Campos Visíveis</h1>
                                        <label class="dropdown-item-1"><input type="checkbox"
                                                id="selecionarTodosDepartamentos"> <span>Selecionar Todos</span></label>
                                        <label class="dropdown-item-1"><input type="checkbox" class="campoCheckbox"
                                                id="campoCodigoDepartamento" checked> <span>Código</span></label>
                                        <label class="dropdown-item-1"><input type="checkbox" class="campoCheckbox"
                                                id="campoNomeDepartamento" checked> <span>Nome</span></label>
                                        <label class="dropdown-item-1"><input type="checkbox" class="campoCheckbox"
                                                id="campoGerenteDepartamento" checked> <span>Gerente</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tabela de departamentos -->
                    <div class="table-container-modal">
                        <table class="table table-striped" id="tabelaDepartamentos">
                            <thead>
                                <tr>
                                    <th class="text-left">Cod</th>
                                    <th class="text-left">Nome</th>
                                    <th class="text-left">Gerente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="department : ${departments}" class="linha-departamento"
                                    style="cursor: pointer;" th:data-id="${department.departmentId}"
                                    th:data-nome="${department.departmentName}"
                                    th:data-gerente="${department.departmentManager}"
                                    th:data-email="${department.departmentEmail}"
                                    th:data-telefone="${department.departmentTel}">
                                    <td th:text="${department.departmentId}"></td>
                                    <td th:text="${department.departmentName}"></td>
                                    <td th:text="${department.departmentManager}"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
   	<div th:replace="~{fragments/sidebar :: modals}"></div>
    
    <div th:replace="~{fragments/footer :: footer}"></div>
    
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	
    <script th:src="@{/js/manager/components.js}"></script>
    
    <script th:src="@{/js/manager/edits/editProjects.js}"></script>  

</body>

</html>