<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <!-- templates/fragments/footer.html -->
	<div th:fragment="footer">
		<footer class="footer">
	        <div class="footer-container">
	            <div class="footer-left">
				    <p>
				        &copy; <span id="current-year"></span>
				        <a href="#" class="footer-logo-link" rel="noopener noreferrer"></a>
				    </p>
				</div>
	            <div class="footer-right">
	                <p>Version 1.1 R 04</p>
	            </div>
	        </div>
	    </footer>
	</div>

</body>
</html>